{% for link in linklists[section.settings.menu].links %}
    <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
{% endfor %}

<div class="image-content__image-container">
    <div class="image-content__image-wrapper" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;">
        {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
        <img class="image-content__image lazyload"
        src="{{ block.settings.image | img_url: '300x300' }}"
        data-src="{{ img_url }}"
        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
        data-aspectratio="{{ block.settings.image.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ block.settings.image.alt | escape }}">
    </div>
</div>

{% schema %}
{
  "name": {
    "en": "Menu List",
    "fr": "Liste Menu"
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": {
      "en": "Image",
      "fr": "Image"
      }
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu Type"
    }
  ],
  "presets": [
    {
      "name": "Menu List",
      "category": "Cours IIM"
    }
  ]
}
{% endschema %}